doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" type="text/css" href="../public/style.css")
    title GM Playground
  body
    .container
      form(action="/" method="POST" enctype="multipart/form-data")
        label Choose image width (default: 250px)
        input(name="width" placeholder="width" type="number" min="0" max="5000")
        label Choose image height (default: 250px)
        input(name="height" placeholder="height" type="number" min="0" max="5000")
        input(name="fileImg" type="file" accept="image/*" required)
        button Send
    .result
      img(class="resultImg")
      p(class="resultImgSize")
      a(class="download") Download Image
  scripts
    script(src="../public/main.js")